coverage
filehash
jinja2
lxml>=4.5
netCDF4>=1.5,<=1.6
pandas
parmap
pytest 
pytest-cov 
python-dateutil
pythesint @ git+https://github.com/metno/py-thesaurus-interface@f43f9ec70131fcbb46f129ea566a0ca241b3ba67
pyyaml
requests
shapely
wget
xmltodict
