name: pytest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pyTestCov:
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10', "3.11"]
    runs-on: ubuntu-latest
    steps:
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-timeout
          pip install pytest-cov
      - name: Run Tests
        run: |
          export MMD_PATH=$HOME/mmd
          git clone https://github.com/metno/mmd $MMD_PATH
          python -m pytest -v --cov=py_mmd_tools --cov=script --timeout=120
      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
